

@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-UltraLight.woff');
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-VariableFont_wght.woff');
    font-style: normal;
}