@import "../../assets/style/fonts.scss";

.header {
    background-color: #65256f;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-size: 14px;
            line-height: 17px;
            color: #ffb700;
            font-weight: 600;
            font-family: Gilroy;
        }
    }
    &__contact {
        a {
            text-decoration: none;
        }
    }
    &__text {
        font-family: Gilroy;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
        margin-right: 18px;
    }
    &__number {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #fbc70e;
    }
}
